.create_bar
  = form_for [@group, @message], :html => {multipart: true, :class => "form-horizontal image" }  do |f|
    .form-message
      = f.label :メッセージ, class: 'form-message__item'
      = f.text_field :name, class: 'form-message__content'
    %br/
    .form-data
      = f.label :DATA
      = f.file_field :attachment
      = f.submit "送信", class: "btn-primary"
    .home-btm
      = link_to group_messages_path do
        = icon('fas', 'home fa-2x' )