.left-bar
  .left-header
    .left-header__box
      %p.left-header__box__name
        = current_user.name
      %ul.left-header__box__menu
        %li.left-header__box__menu__edit
          = link_to new_group_path do
            グループ作成

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message