.chat-main
  .main-header
    .main-header__group
      %h1.main-header__group__name
        = @group.name

    = link_to edit_group_url(@group) do
      .main-header__edit-btn
        編集
  
  .messages
    .message
      %table
        %tr
          %th メッセージ
          %th 投稿データ
          %th  
        - @messages.each do |message|
          %tr
            %td= message.name
            %td= link_to message.attachment.to_s.gsub('/', ' ').split.last, message.attachment_url
            %td= button_to "削除", group_message_path([@group], id: message) , method: :delete, class: "btn-red"